<ng-container *ngIf="showAd && !horizontal">
 <ins class="adsbygoogle"
     style="display:block;width: 300px;height: auto;"
     [attr.data-ad-client]="banner.adClient"
     [attr.data-ad-slot]="banner.adSlot"
     [attr.data-ad-format]="banner.adFormat"
     [attr.data-full-width-responsive]="banner.fullWidthResponsive">
   </ins>
</ng-container>
<ng-container *ngIf="showAd && horizontal">
  <ins class="adsbygoogle"
      style="display:block;"
      [attr.data-ad-client]="banner.adClient"
      [attr.data-ad-slot]="7678592508"
      [attr.data-ad-format]="banner.adFormat"
      [attr.data-full-width-responsive]="banner.fullWidthResponsive">
    </ins>
 </ng-container>