<section class="block-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">

				<!-- block content -->
				<div class="block-content">

							<!-- contact info box -->
							<div class="contact-info-box">
								<div class="title-section">
									<h1><span>Listen Live</span></h1>
								</div>

								
                                <div class="td-page-content">
<div class="td-pb-span8 td-main-content" role="main">
<div class="td-ss-main-content">

<div class="td-page-content">



<p>Send your requests/shout out via our Social Media or studio line: +233 (0) 20 254 4614</p>
<p class="has-text-align-center"><strong>Monday</strong>&nbsp;</p>
<p><em>14:00 – 16:00&nbsp;</em></p>
<p><em><strong>News, Sports, Entertainment and music countdown with Sandra Asante</strong></em></p>
<p><em>18:00 -22:00</em></p>
<p><strong>YɛɛKɔ fie – Drive Time with DJ Cobby Rich</strong></p>
<p></p>
<p class="has-text-align-center"><strong>Tuesday</strong>&nbsp;</p>
<p><em>14:00 – 16:00&nbsp;</em></p>
<p><em><strong>News, Sports, Entertainment and music countdown with Sandra Asante</strong></em></p>
<p><em>18:00 – 22:00&nbsp;</em></p>
<p><em><em><strong><em><strong>DJ Charm</strong>&nbsp;</em>– </strong>Playing the best in Hip-Life, Hip-Hop, RnB, Pop, Afro Beats and many more…</em></em></p>
<p></p>
<p class="has-text-align-center"><strong>Wednesday</strong>&nbsp;</p>
<p><em>14:00 – 16:00&nbsp;</em></p>
<p><em><strong>News, Sports, Entertainment and music countdown with Sandra Asante</strong></em></p>
<p><em>18:00 -22:00</em></p>
<p><strong>YɛɛKɔ fie – Drive Time with DJ Cobby Rich</strong></p>
<p></p>
<p class="has-text-align-center"><strong>Thursday</strong>&nbsp;</p>
<p><em>14:00 – 16:00&nbsp;</em></p>
<p><em><strong>News, Sports, Entertainment and music countdown with Sandra Asante</strong></em></p>
<p><em>18:00 – 22:00&nbsp;</em></p>
<p><em><strong><em><strong><em><strong>DJ Charm</strong>&nbsp;</em>– </strong></em></strong><em>Playing the best in Hip-Life, Hip-Hop, RnB, Pop, Afro Beats and many more…</em></em></p>
<p></p>
<p class="has-text-align-center"><strong>Friday</strong>&nbsp;</p>
<p><em>14:00 – 16:00&nbsp;</em></p>
<p><em><strong>News, Sports, Entertainment and music countdown with Sandra Asante</strong></em></p>
<p><em>12:00 – 16:00</em></p>
<p><em><strong><em><strong>DJ Charm</strong>&nbsp;</em>– </strong>Playing the best in Hip-Life, Hip-Hop, RnB, Pop, Afro Beats and many more…</em></p>
<p><em>18:00 – 22:00</em></p>
<p><strong>YɛɛKɔ fie – Drive Time with DJ Cobby Rich</strong></p>
<p class="has-text-align-center"><strong>Saturday</strong></p>
<p><em>18:00 – 22:00</em></p>
<p><strong>Filla Showbiz Entertainment show with DJ Cobby Rich</strong></p>
<p class="has-text-align-center"><strong>Sunday</strong>&nbsp;</p>
<p><em>08:00 – 12:00 </em></p>
<p><strong>Gospel music show with DJ Cobby Rich</strong></p>
<p><em>12:00 – 16:00</em></p>
<p><em><strong>DJ Charm</strong>&nbsp;</em>– Playing the best in Hip-Life, Hip-Hop, RnB, Pop, Afro Beats and many more…</p>
<p></p>
<p></p>
<p class="has-text-align-center"><em>All Time is G.M.T. We’ll continue to add more programs to the line-up. Kindly check back</em>…</p>
</div>
<div class="clearfix"></div></div>
</div>
		                        </div>

					

						    </div>
					</div>
            </div>
        </div>
    </div>
</section>
                
                
                
