<section class="block-wrapper">
	<div class="container">
		<div style="margin: 40px;" class="row">
			<div class="col-sm-8">

				<!-- block content -->
				<div class="block-content">

							<!-- contact info box -->
							<div class="contact-info-box">
								<div class="title-section">
									<h1><span>About Us</span></h1>
								</div>

								
                                <p>Ghana like most West African countries hardly has a platform where the voice of the youth is heard. This cuts across politics, sports, education et al. The aim of Ghana Talks radio is to give the youth a platform where their voice would be heard via the radio, social media and website. </p>
							</div>
							<!-- End contact info box -->

					

						</div>
            </div>
        </div>
    </div>
</section>
                
                
                
