<section style="padding: 60px" id="main-section">
  <div class="subscribe-btn"><i class="fa fa-envelope"></i>SUBSCRIBE TO GTR'S UP FIRST EMAIL</div>
  <h2 class="title">{{currentDate}} </h2>
  <div class="vid-window">
    <div class="presenter">
      <iframe id="frame" src="https://player.twitch.tv/?channel=ghanatalksradio&parent=www.ghanatalksradio.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="100%"></iframe>
    </div>

    <div class="side-window">
      <h2 class="side-header">CONTACT THE SHOW</h2>
      <p class="change">Send us your comments, questions and suggestions</p>
      <a href="javascript:void(0)">contact us <i class="fa fa-arrow-right"></i></a>
    </div>

  </div>
  <hr/>


</section>