<div class="modal" [ngClass]="{ 'show': isOpen }">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="steps">
        <h2>How to Claim Your Prize</h2>
        <ul>
          <li><strong>Verify Your Winning Details:</strong> Ensure you have your raffle ticket number and confirmation message.</li>
          <li>
            <strong>Contact Us:</strong> Email us at 
            <a href="mailto:info@ghanatalksradio.com">info@ghanatalksradio.com</a> or call us at <br><a href="tel:+233202544614">+233 202 544 614</a>.
          </li>
          <li>
            <strong>Arrange Prize Collection:</strong> Follow instructions to collect your prize digitally or physically.
          </li>
        </ul>
      </div>
    </div>
  </div>
  