@import "../main/main.component.scss";

.show{
    opacity: 1!important; display: block!important; z-index: 999999
}

.auth{
    width: 40vw;
}



/* Extra Small Devices, Phones (0px to 599px) */
@media only screen and (min-width: 300px) and (max-width: 599px) {
    /* Styles for small phones */
    .auth{
        width: 100%;
    }
    
  }
  
  /* Small Devices, Larger Phones (600px to 767px) */
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Styles for larger phones */
   
    .auth{
        width: 100%;
    }
  
  }
  
  /* Medium Devices, Tablets (768px to 991px) */
  @media only screen and (min-width: 768px) and (max-width: 819px) {
    /* Styles for tablets */
  }
  
  /* Medium Devices, Tablets (768px to 991px) */
  @media only screen and (min-width: 820px) and (max-width: 991px) {
    /* Styles for tablets */
  }
  
  @media (max-width: 980px) {
  }
  
  /* Large Devices, Desktops (992px to 1199px) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for desktops */
  }
  
  /* Extra Large Devices, Large Desktops (1200px and above) */
  @media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
  }
  
  
  
  
  