a:hover {
    text-decoration: none;
}

.card-white {
    // background-color: #fff;
}
.slug{
    margin: 0px !important;
}


.stories-container {
    clear: both;
    margin: 15px;
    padding: 15px;
    // border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(74, 74, 126, 0.07);
}