<section class="block-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">

				<!-- block content -->
				<div class="block-content">

							<!-- contact info box -->
							<div class="contact-info-box">
								<div class="title-section">
									<h1><span>Schedule</span></h1>
								</div>

								
                                <div class="td-page-content" *ngIf="data" [innerHTML]="data.data.post[0].post_content">

   

</div>
		</div>
							<!-- End contact info box -->

					

						</div>
            </div>
        </div>
    </div>
</section>
                
                
                
