	<div id="not-found" class="not-found">
        <section class="not-found__section">
            <h1 class="not-found__page-title">404! Page Not Found</h1>
            <p class="not-found__support-text">This is not the page you are looking for.</p>
            <ul class="not-found__links">
                <li class="not-found__item"><a class="not-found__link" [routerLink]="['/search']">Navigate to Search</a></li>
               
                <li class="not-found__item"><a class="not-found__link" [routerLink]="['/']">Navigate to Home</a></li>
            </ul>
            <p class="not-found__support-text">The link is broken ot page not found. Please try the above links instead</p>
               
   
        </section>
    </div>